<section class="table-wrap">
  @if (loading()) {
  <div class="skeletons">
    <app-skeleton height="40px"></app-skeleton>
    <app-skeleton height="40px"></app-skeleton>
    <app-skeleton height="40px"></app-skeleton>
  </div>
  } @else if (error()) {
  <app-error-state [message]="error() ?? ''" />
  } @else if (!data().length) {
  <app-empty-state [title]="emptyTitle()" [message]="emptyMessage()" />
  } @else {
  <table mat-table [dataSource]="data()" class="mat-elevation-z0 zebra">
    @for (col of columns(); track col.key) {
    <ng-container [matColumnDef]="col.key">
      <th
        mat-header-cell
        *matHeaderCellDef
        [class.sticky-start]="col.stickyStart"
        [class.sticky-end]="col.stickyEnd"
      >
        {{col.header}}
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        [class.sticky-start]="col.stickyStart"
        [class.sticky-end]="col.stickyEnd"
      >
        {{ col.cell ? col.cell(row) : $any(row)[col.key] }}
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns(); sticky:true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns();"
      tabindex="0"
      (click)="rowClick.emit(row)"
      (keydown.enter)="rowClick.emit(row)"
      (keydown.space)="rowClick.emit(row)"
    ></tr>
  </table>
  }
</section>
