.username-field {
  height: 70px;
  width: 20%;
  margin-top: 20px;
  margin-left: 20px;
}

.password-field {
  height: 70px;
  width: 20%;
  margin-top: 20px;
  margin-left: 20px;
}

.submit-button {
  width: 5%;
  margin-top: 20px;
  margin-left: 20px;
}
