.clients-header {
  margin-block: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}
.clients-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}
.clients-grid > .block {
  grid-column: span 12;
}
@container (min-width: 1280px) {
  .clients-grid.view-all > .block {
    grid-column: span 4;
  }
}
.detail {
  display: grid;
  gap: 0.25rem;
  padding: 0.5rem;
}
